{% if include.id %}
  {% assign gallery = page.[include.id] %}
{% else %}
  {% assign gallery = page.gallery %}
{% endif %}

<div class="gallery masonry-gallery">
  {% for img in gallery %}

  <figure class="gallery-item">

	<header class='gallery-icon'>

<a href="{{ site.url }}{{ site.baseurl }}{{ img.image_path }}" class="popup"  title="{{ img.image-caption }}" data-caption="{{ img.image-copyright }}">
<img src="{{ site.url }}{{ site.baseurl }}{{ img.image_path }}"></a>
						
	</header>	
		
   <figcaption class='gallery-caption'>
		<div class="entry-summary" id="{{ img.image-caption }}">
				<h3>{{img.image-caption}}</h3>
					<p>{{img.image-copyright}}</p>
						</div>
					</figcaption>
				</figure>

  {% endfor %}
</div>

<div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  <div><h3>1</h3></div>
  <div><h3>2</h3></div>
  <div><h3>3</h3></div>
  <div><h3>4</h3></div>
  <div><h3>5</h3></div>
  <div><h3>6</h3></div>
</div>
